body, html{
	/*background: #ccc;*/
	overflow-x: hidden;
	background: url('../img/kkbio.jpg');
	background: url('../img/rosebridge.jpeg');
	background: url('../img/louisville.jpg');
	/*background: #fff;*/
	/*background: url('https://hd.unsplash.com/photo-1472518990562-608521b7bb11') no-repeat;*/
	background: url('../img/bg.jpeg') no-repeat;
	/*background: url('https://hd.unsplash.com/photo-1470273580401-4776370c1ae2');*/

	background: #ddd;
	background: url('https://hd.unsplash.com/photo-1414963583957-d06d3d204d10');
	background-size: cover;
	background-attachment: fixed;
	min-height: 100vh;
	width: 100vw;
	font-family: 'Actor', sans-serif;
}

p{
	font-size: 18px !important;
	/*color: red;*/
	text-align: justify;
}

.center{
	text-align: center !important;
}

a{
	color: #222;
}

a:hover{
	/*color: #8ea1a5;*/
}

hr{
	border-top: 1px solid #aaa;
}

.badge.social {  
  font-size: 14px;
  height: 30px;
  width: 30px;
  text-align: center;
  line-height: 32px;
  padding: 0;
  /*border-radius: 20px;*/
  color: white !important;
}

.badge.social.facebook{
	background: #3b5998;
}

.badge.social.facebook:hover{
	color: white;
	background: #2a4887;
}


/*.site-content{
	margin: 0;
	padding: 0;
}

section{
	margin: 0;
	padding: 0;
}*/

a:hover{
	text-decoration: none;
}

.logged-in .navbar-fixed-top{
	top: 32px;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  background-color: #666;
  border-radius: 1px;
}

ul, li{
	list-style: none;
}

li{
	display: inline-block;
	text-transform:uppercase;
}

.navbar-header{
	background: #ccc;
}

.logged-in .navbar-header{
	background: #ccc;
	/*height: 80px;*/
	/*margin-top: -32px;*/
	/*border-top: 60px solid blue;*/
}

.navbar-wrapper{
	height: 50px;
	background: #ccc;
	margin-left: -15px;
	margin-right: -15px;
}

@media (max-width: 767px){
	.navbar-wrapper{
		background: red;
		position: fixed;
		top: 100px;
		left: 100px;
		height: 1000px;
		z-index: 500;
		display: block;
	}
}

.logged-in .navbar-wrapper{
	padding-top: 0;
	margin-top: 0;
	height: 35px;
}

ul.navbar-nav{	
	background: #ccc;
	width: 100%;	
	text-align: center;
	margin-top: 0;
}

ul.navbar-nav > li{
	display: inline-block;
	float: none;
}

.sub-cats{
	width: 200px;
	/*background: red;*/
	position: relative;
	top: 80px;
	left: 0;
	padding: 20px;
}

.sub-cats > ul{
	/*list-style: none;*/
	padding-left: 0;
}

.sub-cats > ul > li{
	padding: 10px 0;
}

.padder{
	width: 100%;
	height: 50px;
}

li.current-menu-item{
	background: green;
}

#menu-primary > li.current_page_item,
li.current-page-ancestor,
li.grandpa{
	background: #fff;
}

	li:hover {
		cursor: pointer;
	}

/* Hover Biz */

.middle-cat > li.current_page_item a,
.middle-cat > li.current_page_ancestor a{
	/*background: #eee;
	background: rgba(238, 238, 238,0.5);*/
	/*color: #ccc;*/
	text-shadow: 2px 2px #aaa;
}

.middle-cat > li:hover{
	/*background: #c9c1c1;
	background: rgba(201, 193, 193,0.5);*/

}

#menu-primary > li.current_page_item:after,
#menu-primary > li.current-page-ancestor:after,
#menu-primary > li.grandpa:after/*,
.middle-cat > li.current_page_item a,
.middle-cat > li.current_page_ancestor a*/ {
  display:block;
  content: '';
  border-bottom: solid 3px #019fb6; 
  /*border-bottom: solid 3px #0208ae;*/
  transform: scaleX(1); 
}



#menu-primary > li:after/*,
.middle-cat > li.current_page_item a:after,
.middle-cat > li.current_page_ancestor a:after*/ {
  display:block;
  content: '';
  border-bottom: solid 3px #019fb6;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
#menu-primary > li:hover:after,
.middle-cat > li:hover:after { 
	transform: scaleX(1); 
}




.middle-cat{
	/*background: #bbb;
	background: rgba(187,187,187,0.7);*/
	/*padding: 0;*/
	/*text-align: center;*/
	/*border-radius: 5px;*/
	width: 60%;
	margin: 0 auto;
	padding: 0 0 15px;
	border-bottom: 2px solid #555;
	text-align: center;

}

.middle-cat > li > a{
	display: inline-block;
	padding: 10px 30px;
}

.middle-cat > li{	
	/*padding: 10px 30px;*/
	/*border-radius: 15px;*/
}



.bottom-cat > li > a{
	display: inline-block;
	width: 100%;
	height: 100%;
	padding: 17px 10px;
}

.bottom-cat > li{
	/*padding: 5px 0;*/
	/*border-radius: 15px;*/
}

.bottom-cat > li.current_page_item{
	/*background: rgba(200,200,200,0.8);*/
	/*border-bottom: 2px solid #555;*/
	text-shadow: 2px 2px #aaa;
}

.bottom-cat > li:hover{
	/*background: #bbb;
	background: rgba(187,187,187,0.5);*/
}

aside{
	/*background: #aaa;
	background: rgba(187,187,187,0.7);*/
	width: 18%;
	/*background: #ddd !important;*/
	margin-right: 2%;
	float: left;
	padding: 0 15px 0 0;
	/*height: 100%;*/
	border-radius: 15px;
	/*border-right: 2px solid #555;*/
}

.bottom-cat{
	padding: 0;
}

.bottom-cat > li{
	display: block;
}

.sub-container{
	/*background: rgba(0,255,0,0.5);
	background: rgba(195, 207, 201,0.5);*/
	/*border-radius: 15px;*/
	background: #ccc;
	background: #9EAFC6;
	background: transparent;
	color: #111;
	width: 60%;
	padding: 20px;
	float: left;
	margin-bottom: 50px;
/*	border-left: 2px solid #555;
	border-right: 2px solid #555;*/
}

.sub-container p {
	font-size: 18px;
}

.sub-container-home{
	/*background: rgba(195, 207, 201,0.5);*/
	width: 60%;
	padding: 20px;
	float: left;
	color: #111;
	margin-bottom: 50px;
	/*margin: 0 auto 50px;*/
	/*border-radius: 15px;*/
}

@media (max-width: 1024px){
	.sub-container-home{
		width: 90%;
		margin: 0 5% 50px;
	}
	.sneaky-aside{
		display: none;
		width: 0;
	}
	.sub-container{
		width: 78%;
		
	}

	.sub-container.no-side{
		width: 100%;
		margin: 0 auto 50px;
	}

	.middle-cat{
		width: 80%;
	}
	.sub-shift{
		margin: 0 10%;
	}
}

@media screen and (max-width: 500px){
	.sub-shift{
		margin: 0 0 1% 0;
		width: 96%;
	}
	p{
		font-size: 15px !important;
		/*color: red !important;*/
	}
}

/* HOME PAGE */

.sub-container-home{
	text-align: center;
}

.ul-home {
	/*background: red;*/
	padding: 0;
}

.ul-home > li{
	display: block;
	font-size: 16px;
	padding: 5px;
}

.big-head{
	font-size: 70px;
	text-transform: uppercase;
	/*color: red;*/
	margin: 10px 10px 0px;
	padding: 8px;
}


.page-thum{
	text-align: center;
	margin: 0 5% 30px;
	position: relative;
  width: 90%;
  /*padding-bottom: 40%;*/
  float: left;
  /*height: 0;*/
  /*margin: 0 auto;*/
  /*background: green;*/
}

.small-thum{
	text-align: center;
	margin: 0 8% 30px;
	position: relative;
  width: 25%;
  /*padding-bottom: 16%;*/
  float: left;
  height: 0;
  margin: 0 auto;
  /*background: red;*/
}

.page-thum img,
.small-thum img{
	/*max-width: 100%;
	max-height: 100%;
	width: 100%;
  height: 100%;
  position: absolute;
  left: 0;*/
  max-width: 250px;
  max-height: 175px;

}

/* BLOG POSTS */
.thum{
	/*float: left;*/
	/*background: blue;*/
	/*padding: 20px;*/
	width: 100%;
	text-align: center;
	margin-bottom: 25px;
}


.with-thum{
	/*background: red;*/
	float: left;
	width: 100%;
}

.no-thum{
	width: 100%;
	/*background: yellow;*/
}

/* Youtube */
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

/* TEST */


#sidebar-toggle{
	background: #ccc;
	margin-left: -8px;
	margin-right: 8px;
}

.btn:focus{
	outline: none;
}

.fa-navicon{
	color: #666;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
   
  .sidebar-offcanvas {
    position: absolute;
    display: none;
  }

  .sidebar-offcanvas.active {
    display: block;  
    left: 55px;
    top: 195px;
    z-index: 1;
    position: absolute;
    width: 75%; 
    background: #dfdfdf;
  }

  .big-head{
  	font-size: 40px;
  }

  .sub-container{
  	width: 100%;
  	margin: 20px 0 50px;
  	/*background: green;*/
  }

  .sub-container p a{
  	/*font-size: 18px;*/
  	word-wrap: break-word;
  }


}

/* end test */

aside.sneaky-aside,
.sneaky-aside,
#sneaky-aside{
	background: transparent !important;
}

.no-show{
	display: none !important;
	background: red;
}